<div class="sticky-container">
  <ul class="sticky">
    <li>
      <a routerLink="/guest" style="text-decoration:none; color:white;">
        <img width="32" height="32" title="" alt="G" src="https://harthousewineandtapa.com/icons/guest.png" />
        <p style="font-size:16px" class="nav-font">Guest Bnb</p>
      </a>
    </li>
    <li>
      <a routerLink="/cwevent" style="text-decoration:none; color:white;">
        <img width="32" height="32" title="" alt="C" src="https://harthousewineandtapa.com/icons/events.png" />
        <p style="font-size:16px" class="nav-font">C/W Events</p>
      </a>
    </li>

  </ul>
</div>

<!-- Header Block
      ============================================== -->
<header class="header-block line-top">

  <!-- Main Header
        ............................................ -->
  <div class="main-header container">

    <!-- Header Cols -->
    <div class="header-cols">

      <!-- Brand Col -->
      <div class="brand-col hidden-xs">

        <!-- vcenter -->
        <div class="vcenter">
          <!-- v-centered -->
          <div class="vcenter-this">
            <a routerLink="/">
              <img alt="HHWT" src="https://s3.us-east-2.amazonaws.com/harthouse/logo.png">
            </a>
          </div>
          <!-- v-centered -->
        </div>
        <!-- vcenter -->

      </div>
      <!-- /Brand Col -->

      <!-- Right Col -->
      <div class="right-col">

        <!-- vcenter -->
        <div class="vcenter">

          <!-- v-centered -->
          <div class="vcenter-this">

          </div>
          <!-- v-centered -->

        </div>
        <!-- vcenter -->

      </div>
      <!-- /Right Col -->

      <!-- Left Col -->
      <div class="left-col">

        <!-- vcenter -->
        <div class="vcenter">


        </div>
        <!-- /vcenter -->

      </div>
      <!-- /Left Col -->


    </div>
    <!-- Header Cols -->

  </div>
  <!-- /Main Header
        .............................................. -->

  <!-- Nav Bottom
        .............................................. -->
  <nav class="nav-bottom hnav hnav-ruled white-bg boxed-section">
    <!-- Container -->
    <div class="container">

      <!-- Header-->
      <div class="navbar-header">
        <button id="ham" class="navbar-toggle no-border" type="button" data-toggle="collapse" data-target="#nav-collapse">
          <span class="sr-only">Toggle navigation</span>
          <div id="nav-icon">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
          </div>
          <!-- <i class="fa fa-navicon"></i> -->
        </button>
        <a class="navbar-brand visible-xs">
          <p class="nav-font-mobile">Hart House Wine & Tapa</p>
        </a>
      </div>
      <!-- /Header-->

      <!-- Collapse -->
      <div #isOpen class="collapse navbar-collapse navbar-absolute auto" id="nav-collapse">
        <!-- Navbar Center -->
        <ul class="nav navbar-nav navbar-center line-top">
          <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            <a routerLink="/">
              <span class="nav-font">Home</span>
            </a>
          </li>
          <li routerLinkActive="active" >
            <a routerLink="/aboutus">
              <span class="nav-font">About Us</span>
            </a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="/menu">
              <span class="nav-font">Menu</span>
            </a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="/gallery">
              <span class="nav-font">Gallery</span>
            </a>
          </li>
          <li class="dropdown" routerLinkActive="active">
            <a href="#" class="dropdown-toggle " data-toggle="dropdown">
              <span class="nav-font">Events/News</span>
              <i class="fa fa-angle-down toggler"></i>
            </a>
            <ul class="dropdown-menu">

              <li>
                <a routerLink="/news">
                  <span class="nav-font">News</span>
                </a>
              </li>

              <li>
                <a routerLink="/calendar">
                  <span class="nav-font">Calendar</span>
                </a>
              </li>
              <li>
                <a routerLink="/cwevent">
                  <span class="nav-font">Corporate and Weddings</span>
                </a>
              </li>

            </ul>
          </li>

          <li routerLinkActive="active">
            <a routerLink="/reservation">
              <span class="nav-font">Reservation</span>
            </a>
          </li>


          <li routerLinkActive="active">
            <a routerLink="/voucher">
              <span class="nav-font">Gift Voucher</span>
            </a>
          </li>


          <li routerLinkActive="active">
            <a routerLink="/contactus">
              <span class="nav-font">Contact Us</span>
            </a>
          </li>

        </ul>
        <!-- /Navbar Center -->

      </div>
      <!-- /Collapse -->

      <!-- Dont Collapse -->
      <div class="navbar-dont-collapse">

        <!-- Navbar btn-group -->
        <div class="navbar-btn-group btn-group navbar-right no-margin-r-xs">

        </div>
        <!-- /Navbar btn-group -->


      </div>
      <!-- /Dont Collapse -->

    </div>
    <!-- /Container -->

  </nav>
  <!-- /Nav Bottom
        .............................................. -->

</header>
<!-- /Header Block
      ============================================== -->