<div class="sticky-container">
  <ul class="sticky">
    <li>
      <a href="bnbguest" style="text-decoration:none; color:white;">
        <img width="32" height="32" title="" alt="G" src="images/side.png" />
        <p style="font-size:16px">Guest Bnb</p>
      </a>
    </li>
    <li>
      <a routerLink="/cwevent" style="text-decoration:none; color:white;">
        <img width="32" height="32" title="" alt="C" src="images/side2.png" />
        <p style="font-size:16px">C/W Events</p>
      </a>
    </li>

  </ul>
</div>

<!-- Header Block
      ============================================== -->
<header class="header-block line-top">

  <!-- Main Header
        ............................................ -->
  <div class="main-header container">

    <!-- Header Cols -->
    <div class="header-cols">

      <!-- Brand Col -->
      <div class="brand-col hidden-xs">

        <!-- vcenter -->
        <div class="vcenter">
          <!-- v-centered -->
          <div class="vcenter-this">
            <a routerLink="/">
              <img alt="HHWT" src="https://s3.us-east-2.amazonaws.com/harthouse/logo.png">
            </a>
          </div>
          <!-- v-centered -->
        </div>
        <!-- vcenter -->

      </div>
      <!-- /Brand Col -->

      <!-- Right Col -->
      <div class="right-col">

        <!-- vcenter -->
        <div class="vcenter">

          <!-- v-centered -->
          <div class="vcenter-this">

          </div>
          <!-- v-centered -->

        </div>
        <!-- vcenter -->

      </div>
      <!-- /Right Col -->

      <!-- Left Col -->
      <div class="left-col">

        <!-- vcenter -->
        <div class="vcenter">


        </div>
        <!-- /vcenter -->

      </div>
      <!-- /Left Col -->


    </div>
    <!-- Header Cols -->

  </div>
  <!-- /Main Header
        .............................................. -->

  <!-- Nav Bottom
        .............................................. -->
  <nav class="nav-bottom hnav hnav-ruled white-bg boxed-section custom_round_nav">
    <!-- Container -->
    <div class="container">

      <!-- Header-->
      <div class="navbar-header">
        <button class="navbar-toggle no-border" type="button" data-toggle="collapse" data-target="#nav-collapse2">
          <span class="sr-only">Toggle navigation</span>
          <i class="fa fa-navicon"></i>
        </button>
        <a class="navbar-brand visible-xs">
          <img alt="HHWT" src="https://s3.us-east-2.amazonaws.com/harthouse/logo-xs.png">
        </a>
      </div>
      <!-- /Header-->

      <!-- Collapse -->
      <div class="collapse navbar-collapse navbar-absolute" id="nav-collapse2">
        <!-- Navbar Center -->
        <ul class="nav navbar-nav navbar-center line-top">
          <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            <a routerLink="/">
              <font class="italiancustom" size="5">Home</font>
            </a>
          </li>
          <li routerLinkActive="active" >
            <a routerLink="/aboutus">
              <font class="italiancustom" size="5">About Us</font>
            </a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="/menu">
              <font class="italiancustom" size="5">Menu</font>
            </a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="/gallery">
              <font class="italiancustom" size="5">Gallery</font>
            </a>
          </li>
          <li class="dropdown" routerLinkActive="active">
            <a href="#" class="dropdown-toggle " data-toggle="dropdown">
              <font class="italiancustom" size="5">Events/News</font>
              <i class="fa fa-angle-down toggler"></i>
            </a>
            <ul class="dropdown-menu">

              <li>
                <a routerLink="/news">
                  <font class="italiancustom" size="5">News</font>
                </a>
              </li>

              <li>
                <a routerLink="/calendar">
                  <font class="italiancustom" size="5">Calendar</font>
                </a>
              </li>


              <li>
                <a routerLink="/cwevent">
                  <font class="italiancustom" size="5">Corporate and Weddings</font>
                </a>
              </li>

            </ul>
          </li>

          <li routerLinkActive="active">
            <a routerLink="/reservation">
              <font class="italiancustom" size="5">Reservation</font>
            </a>
          </li>


          <li routerLinkActive="active">
            <a routerLink="/voucher">
              <font class="italiancustom" size="5">Gift Voucher</font>
            </a>
          </li>


          <li routerLinkActive="active">
            <a routerLink="/contactus">
              <font class="italiancustom" size="5">Contact Us</font>
            </a>
          </li>

        </ul>
        <!-- /Navbar Center -->

      </div>
      <!-- /Collapse -->

      <!-- Dont Collapse -->
      <div class="navbar-dont-collapse">

        <!-- Navbar btn-group -->
        <div class="navbar-btn-group btn-group navbar-right no-margin-r-xs">

        </div>
        <!-- /Navbar btn-group -->


      </div>
      <!-- /Dont Collapse -->

    </div>
    <!-- /Container -->

  </nav>
  <!-- /Nav Bottom
        .............................................. -->

</header>
<!-- /Header Block
      ============================================== -->