.nav-font { 
    font-family: 'Montaga', serif;
    font-size: 20px;
    /* text-shadow: 1px 1px 1px #aaa; */
}

/deep/ .nav-font-mobile { 
    font-family: 'Montaga', serif;
    font-size: 24px;
    padding-top: 1px;
}

/deep/  @media (max-width: 991px) {
    .hnav.nav-bottom .navbar-collapse .navbar-nav > li > a {
        padding: 0 9px;
    }
}

@media screen 
and (min-width: 768px) 
and (max-width: 1199px){
    .nav-font { 
        font-family: 'Montaga', serif;
        font-size: 17px;
    }
}

