/deep/ iframe.twitter-timeline {
  height: 300px !important;
}

/deep/ .footer-paragraph {
  font-family: 'Text Me One', sans-serif;
  font-size: 18px;
}
/deep/ .footer-title {
  font-family: 'Text Me One', sans-serif;
  font-size: 36px;
  text-shadow: 2px 2px 2px #aaa;
}