iframe.twitter-timeline {
  height: 300px !important;
}

.footer-paragraph {
  font-family: 'Text Me One', sans-serif;
  font-size: 18px;
  padding-bottom: 15px;
}
.footer-title {
  font-family: 'Quicksand', sans-serif;
  font-size: 36px;
  color: #222222;
  padding-bottom: 34px;
}
.social-hour-footer-left{
  padding-bottom:20px; 
  padding-left:120px;
}
.social-hour-footer-right{
  padding-bottom:20px; 
  padding-right:120px;
}

@media (max-width: 1200px) {
  .social-hour-footer-left{
    padding-bottom:20px; 
    padding-left:0px;
  }
  .social-hour-footer-right{
    padding-bottom:20px; 
    padding-right:0px;
  }
}