<div class="hr-padding">
  <hr class="style-seven">
</div>
<!-- Page Info Block
        ============================================-->
<section class="page-info-block boxed-section" style="margin-top: -63px;">

  <!-- Container -->
  <div class="container cont-pad-x-15">

    <!-- Breadcrumb -->
    <ol class="breadcrumb pull-left">
      <li>
        <a href="#"></a>
      </li>

    </ol>
    <!-- /Breadcrumb -->
  </div>
  <!-- /Container -->

</section>
<!--   Footer   -->
<footer class="myfooter">
  <div class="container">
    <div class="row text-center">
      <div class="col-sm-4">
        <h4 class="title footer-title ">We are Social!</h4>
        <p class="footer-paragraph">Hart House Wine And Tapa We are a restaurant/wine bar in a house built in 1918 serving Camrose, AB and surrounding
          areas a unique dining experience. </p>

        <ul class="social-icon">
          <a href="https://www.facebook.com/HartHouseWineandTapa/" class="social" style="padding-right: 8px;">
            <i class="icon fa fa-facebook zoom" aria-hidden="true"></i>
          </a>
          <a href="https://twitter.com/harthouseab?lang=en" class="social">
            <i class="icon fa fa-twitter zoom" aria-hidden="true"></i>
          </a>
          <a href="https://www.instagram.com/explore/locations/1018958838/hart-house-wine-and-tapa/" class="social">
            <i class="icon fa fa-instagram zoom" aria-hidden="true"></i>
          </a>
        </ul>
      </div>
      <div class="col-sm-4">
        <h4 class="title footer-title">Hours of Operation</h4>
        <div [innerHTML]="hoursOfOperation" class="footer-paragraph"></div>
      </div>
      <div class="col-sm-4 text-center">
        <h4 class="title footer-title">Gift a Friend!</h4>
        <p class="footer-paragraph">Send something to that special person with our new Gift Vouchers. We accept PayPal, Visa, and MasterCard for simple
          and secure payment.</p>
        <ul class="social-icon">
          <a class="social" style="padding-right: 8px;">
            <i class="icon fa fa-credit-card zoom" aria-hidden="true"></i>
          </a>
          <a class="social">
            <i class="icon fa fa-paypal zoom" aria-hidden="true"></i>
          </a>
          <a class="social">
            <i class="icon fa fa-cc-visa zoom" aria-hidden="true"></i>
          </a>
        </ul>
      </div>
    </div>

  </div>
  <!-- ./container -->
</footer>

<!-- Bottom -->
<div class="footer-bottom bcolor-bg invert-colors">
  <!-- Container -->
  <div class="container text-center">
    <div class="row">
      <small>
        <span class="flam-font-9" style="color: #ffffff">Hart House Wine & Tapa - Copyright © 2018 HHWT | Camrose Alberta</span>
      </small>
    </div>

  </div>
  <!-- /Container -->
</div>
<!-- /Bottom -->
<!--/.footer-bottom-->