<!-- Page Info Block
        ============================================-->
<section class="page-info-block boxed-section" style="margin-top: -63px;">

  <!-- Container -->
  <div class="container cont-pad-x-15">

    <!-- Breadcrumb -->
    <ol class="breadcrumb pull-left">
      <li>
        <a href="#"></a>
      </li>

    </ol>
    <!-- /Breadcrumb -->
  </div>
  <!-- /Container -->

</section>

<!-- Footer
                    =================================================== -->
<footer class="footer-block">

  <!-- Container -->
  <div class="container cont-top clearfix">

    <!-- Row -->
    <div class="row">
      <!-- Links -->
      <div class="col-md-12 links-col" style="text-align:center;">

        <!-- Row -->
        <div class="row-fluid">
          <div class="col-lg-6 social-hour-footer-left">
            <h1 class="footer-title">We are Social!</h1>
            <a class="twitter-timeline" href="https://twitter.com/HartHouseAB" data-width="400" data-height="250">
              Tweets by @TwitterDev
            </a>
          </div>
          <!-- /Col -->

          <!-- Col -->
          <div class="col-lg-6 social-hour-footer-right">
            <h1 class="footer-title">Hours of Operation</h1>
            <div [innerHTML]="hoursOfOperation" class="footer-paragraph" style="padding-top:13px;"></div>
          </div>
          <!-- /Col -->
        </div>
        <!-- /Row -->

      </div>
      <!-- /Links -->

    </div>
    <!-- /Row -->

  </div>
  <!-- /Container -->

  <!-- Bottom -->
  <div class="footer-bottom bcolor-bg invert-colors">

    <!-- Container -->
    <div class="container text-center">
      <div class="row">
        <ul class="hlinks">
          <li>
            <a href="https://www.facebook.com/HartHouseWineandTapa">
              <i class="icon fa fa-facebook fa-2x"></i>
            </a>
          </li>
          <li>
            <a href="https://instagram.com/explore/locations/1018958838/">
              <i class="icon fa fa-instagram fa-2x"></i>
            </a>
          </li>
          <li>
            <a href="https://twitter.com/HartHouseAB">
              <i class="icon fa fa-twitter fa-2x"></i>
            </a>
          </li>
        </ul>

      </div>
      <div class="row">
        <small>
          <span class="flam-font-9">Hart House Wine & Tapa - Copyright © 2018 HHWT</span>
        </small>
      </div>

    </div>
    <!-- /Container -->

  </div>
  <!-- /Bottom -->

</footer>