iframe.twitter-timeline {
  height: 300px !important;
}

.footer-paragraph {
  font-family: 'Text Me One', sans-serif;
  font-size: 18px;
  padding-bottom: 15px;
}
.footer-title {
  font-family: 'Quicksand', sans-serif;
  font-size: 36px;
  color: #222222;
  padding-bottom: 34px;
}