/deep/ .parallax-font { 
    font-family: 'Niconne', cursive;
    font-size: 65px;
    word-spacing: 3px;
}

/deep/ p, .aboutus-content {
    font-family: 'Text Me One', sans-serif;
    font-size: 18px;
}
