<!-- Intro Block
        ============================================-->
<section class="intro-block intro-page boxed-section overlay-dark-m" [ngStyle]="{'background': '#fff url(' + parrallaxUrl + ') no-repeat center 0 fixed'}">
  <!-- Container -->
  <div class="container">
    <!-- Section Title -->
    <div class="section-title invert-colors no-margin-b">
      <h2>
        <font class="parallax-font">About Us</font>
      </h2>
    </div>
    <!-- /Section Title -->
  </div>
  <!-- /Container -->

</section>
<!-- /Intro Block
        ============================================-->

<!-- Page Info Block
        ============================================-->
<section class="page-info-block boxed-section">

  <!-- Container -->
  <div class="container cont-pad-x-15">

    <!-- Breadcrumb -->
    <ol class="breadcrumb pull-left">
      <li>
        <a href="#"></a>
      </li>

    </ol>
    <!-- /Breadcrumb -->

  </div>
  <!-- /Container -->

</section>
<!-- /Page Info  Block
        ============================================-->

<!-- Content Block
        ============================================-->
<section class="content-block default-bg">

  <!-- Container -->
  <div class="container cont-pad-t-sm">

    <!-- Row -->
    <div class="row">

      <!-- Main Col -->
      <div class="main-col">

        <!-- Post -->
        <article class="blog-entry text-center">
          <div [innerHTML]="aboutUsContent" class="aboutus-content col-md-12"></div>
        </article>
        <!-- Post /END -->


        <!-- /Main Col -->

      </div>
      <!-- /Row -->

    </div>
    <!-- /Container -->
  </div>

</section>
<!-- /Content Block
        ============================================-->
<!-- Page Info Block
        ============================================-->
<section class="page-info-block boxed-section">

  <!-- Container -->
  <div class="container cont-pad-x-15">

    <!-- Breadcrumb -->
    <ol class="breadcrumb pull-left">
      <li>
        <a href="#"></a>
      </li>

    </ol>
    <!-- /Breadcrumb -->



  </div>
  <!-- /Container -->

</section>