.parallax-font { 
    font-family: 'Tangerine', cursive;
    font-size: 65px;
    word-spacing: 3px;
}

/deep/ .aboutus-content {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    word-spacing: 3px;  
}
