<!-- Intro Block
        ============================================-->
<section class="intro-block intro-page boxed-section overlay-dark-m" [ngStyle]="{'background': '#fff url(' + parrallaxUrl + ') no-repeat center 0 fixed'}">
  <!-- Container -->
  <div class="container">
    <!-- Section Title -->
    <div class="section-title invert-colors no-margin-b">
      <h2>
        <font class="parallax-font">About Us</font>
      </h2>
    </div>
    <!-- /Section Title -->
  </div>
  <!-- /Container -->

</section>
<!-- /Intro Block
        ============================================-->

<!-- Page Info Block
        ============================================-->
<section class="page-info-block boxed-section">

  <!-- Container -->
  <div class="container cont-pad-x-15">

    <!-- Breadcrumb -->
    <ol class="breadcrumb pull-left">
      <li>
        <a href="#"></a>
      </li>

    </ol>
    <!-- /Breadcrumb -->

  </div>
  <!-- /Container -->

</section>
<!-- /Page Info  Block
        ============================================-->

<!-- Content Block
        ============================================-->
<section class="content-block default-bg">

  <!-- Container -->
  <div class="container cont-pad-t-sm">

    <!-- Row -->
    <div class="row">

      <!-- Main Col -->
      <div class="main-col">

        <!-- Post -->
        <article class="blog-entry text-center">
          <h1 [innerHTML]="aboutUsTitle"></h1>
          <hr class="aboutus">
          <div [innerHTML]="aboutUsContent" class="aboutus-content col-md-12"></div>

          <div class="col-lg-12 col-md-12 col-sm-12 col-lg-12" style="padding-top: 20px;" *ngIf="!chefIsDisabled">
            <h1 [innerHTML]="chefTitle"></h1>
            <hr class="aboutus">
            <div class="panel-body">
              <div class="col-lg-3">
                <img alt="logo" class="round-image" [src]="chefPicture">
                <h3 [innerHTML]="chefName"></h3>
                <div class="text-muted font-bold m-b-xs">Camrose, Alberta</div>
                <hr class="aboutus hidden-lg">
              </div>
              <div class="col-lg-9 panel aboutus-content">
                <div class="sidebar-box" [innerHTML]="chefContent"></div>
                <p class="read-more text-center">
                  <button mat-raised-button color="primary" (click)="readMore()">Read More</button>
                </p>
              </div>
            </div>
          </div>
        </article>
        <!-- Post /END -->
        <!-- /Main Col -->
      </div>
      <!-- /Row -->

    </div>
    <!-- /Container -->
  </div>

</section>
<!-- /Content Block
        ============================================-->