/deep/ .mat-fab.mat-primary, .mat-mini-fab.mat-primary, .mat-raised-button.mat-primary {
    background-color: #a57f44bd;
}

.parallax-font { 
    font-family: 'Tangerine', cursive;
    font-size: 65px;
    word-spacing: 3px;
}

agm-map {
    padding: 15px;
    height: 500px;
  }

  p, input, span, ul, h5, h3, textarea, select{
    font-family: 'Text Me One', sans-serif;
  }

  label, button, h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    word-spacing: 1px;  
}

.content-block > .container {
    padding-top: 0px !important;
    padding-bottom: 5px;
}

.contact-us-block { 
    padding-top: 10px;
}
.contact-us-font {
    font-family: 'Montserrat', sans-serif !important;
    font-size: 17px;
    word-spacing: 1px;  
}