<section class="intro-block intro-page guest-pic boxed-section overlay-dark-m" [ngStyle]="{'background': '#fff url(' + parrallaxUrl + ') no-repeat center 0 fixed'}">
  <!-- Container -->
  <div class="container">
    <!-- Section Title -->
    <div class="section-title invert-colors no-margin-b">
      <h2>
        <span class="parallax-font">Contact Us</span>
      </h2>
    </div>
    <!-- /Section Title -->
  </div>
</section>

<agm-map [latitude]="lat" [longitude]="lng" [styles]="styles" [zoom]="zoom" [disableDefaultUI]="true" [zoomControl]="false"
  [streetViewControl]="false" [scrollwheel]="false">
  <agm-marker [latitude]="lat" [longitude]="lng">
  </agm-marker>
</agm-map>

<section class="content-block default-bg">
  <!-- Container -->
  <div class="container">

    <!-- Row -->
    <div class="row">

      <!-- Main Col -->
      <div id="main-col" class="col-sm-12 col-md-12 mgb-30-xs">
        <!-- Side Col -->
        <div class="col-sm-12 col-md-12">
          <!-- Side Widget -->
          <div class="side-widget">
            <!-- vlinks -->
            <div class="row contact-us-font">
              <div class="col-sm-4 col-md-4 col-lg-4" style="text-align: center;">
                <i class="fa fa-home fa-2x"></i>
                <div class="row contact-us-block">
                  <span [innerHTML]="addressHTML"></span>
                </div>
              </div>

              <div class="col-sm-4 col-md-4 col-lg-4" style="text-align: center;">
                <i class="fa fa-envelope fa-2x"></i>
                <div class="row contact-us-block">
                  <span [innerHTML]="emailHTML"></span>
                </div>
              </div>

              <div class="col-sm-4 col-md-4 col-lg-4" style="text-align: center;">
                <i class="fa fa-phone fa-2x"></i>
                <div class="row contact-us-block">
                  <span [innerHTML]="phoneHTML"></span>
                </div>
              </div>
            </div>
            <hr>
            <!-- /vlinks -->

          </div>
          <!-- /Side Widget -->

        </div>
        <!-- /Side Col -->

        <div *ngIf="!formSubmitted" style="position: relative;">
            <ngx-loading [show]="buttonLoading" [config]="{ backdropBorderRadius: '1px' }"></ngx-loading>
          <!-- Contact Form -->
          <form [formGroup]="contactUsForm">
            <div class="row">
              <div class="form-group col-sm-12 col-md-6 col-lg-6">
                <label for="fullname" class="control-label">Full Name:
                  <a style="color: #db5959;" *ngIf="contactUsForm.get('contactName').invalid && contactUsForm.get('contactName').touched">Please enter your name</a>
                </label>
                <input type="text" class="form-control" id="fullname" name="fullname" placeholder="John Doe" formControlName="contactName"
                  autocomplete="off">
              </div>
  
              <div class="form-group col-sm-12 col-md-6 col-lg-6">
                <label for="youremail" class="control-label">Your Email:
                  <a style="color: #db5959;" *ngIf="contactUsForm.get('contactEmail').invalid && contactUsForm.get('contactEmail').touched">Please enter a valid email</a>
                </label>
                <input type="email" class="form-control" id="youremail" name="email" placeholder="john.doe@example.com" formControlName="contactEmail"
                  autocomplete="off">
              </div>
            </div>
  
            <div class="form-group">
              <label for="reason" class="control-label">Reason of Contact:</label>
              <select class="form-control" id="reason" name="reason" formControlName="reason">
                <option value="General Inquiries">General Inquiries</option>
                <option value="Profession Contacts">Profession Contacts</option>
                <option value="Website Technical">Website Technical</option>
              </select>
            </div>
  
            <div class="form-group">
              <label for="message-text" class="control-label">Message:
                <a style="color: #db5959;" *ngIf="contactUsForm.get('contactMessage').invalid && contactUsForm.get('contactMessage').touched && contactUsForm.get('contactMessage').errors">Message needs to be {{ maxMessageLength }} character length or longer. ({{ currentMessageLength }} characters)</a>
              </label>
              <textarea class="form-control" id="message-text" name="message" rows="8" placeholder="Write your question here..." formControlName="contactMessage"></textarea>
            </div>
          </form>
  
          <div class="text-right">
            <button mat-raised-button color="primary" [disabled]="!contactUsForm.valid || buttonLoading" (click)="sendMessage()">
              Send Message!
            </button>
          </div>
          <!-- /Contact Form -->
        </div>

        <div *ngIf="formSubmitted" class="text-center">
          <div style="margin-top: 214px; padding-bottom: 60px;">
            <h1>Thank you for your message!</h1>
            <h3>We will get back to you as soon as possible.</h3>
            <h3>Thank you for your patients!</h3>
          </div>
        </div>

      </div>
      <!-- /Main Col -->

    </div>
    <!-- /Row -->

  </div>
  <!-- /Container -->
</section>
<br/>