/deep/ .parallax-font { 
    font-family: 'Niconne', cursive;
    font-size: 65px;
    word-spacing: 3px;
}

.menu-tab-font {
    font-family: 'Text Me One', sans-serif;
    font-size: 17px;
}

p, ul, ol, dt, blockquote, figure, pre, table, fieldset {
    margin: 0px 0 -4px 0;
}