<section class="intro-block intro-page boxed-section overlay-dark-m" [ngStyle]="{'background': '#fff url(' + parrallaxUrl + ') no-repeat center 0 fixed'}">
  <!-- Container -->
  <div class="container">
    <!-- Section Title -->
    <div class="section-title invert-colors no-margin-b">
      <h2>
        <span class="parallax-font">Our Menu</span>
      </h2>
    </div>
    <!-- /Section Title -->
  </div>
  <!-- /Container -->

</section>

<!-- Content Block
      ============================================ -->
<div class="content-block">

  <!-- Container -->
  <div class="container no-pad-t">

    <!-- Product Tabs -->
    <div class="product-tabs">

      <!-- Nav tabs -->
      <ul class="nav nav-tabs nav-tabs-line-bottom line-pcolor nav-tabs-center" role="tablist">
        <li class="active">
          <a href="#brunch" data-toggle="tab">
            <p class="menu-tab-font">Brunch</p>
          </a>
        </li>
        <li>
          <a href="#lunch" data-toggle="tab">
            <p class="menu-tab-font">Lunch</p>
          </a>
        </li>
        <li>
          <a href="#dinner" data-toggle="tab">
            <p class="menu-tab-font">Dinner</p>
          </a>
        </li>
        <li>
          <a href="#drinks" data-toggle="tab">
            <p class="menu-tab-font">Drinks</p>
          </a>
        </li>
      </ul>
      <!-- /Nav Tabs -->

      <!-- Tab panes -->
      <div class="tab-content tab-no-borders">

        <!-- <div class="tab-pane active" id="{{ menu.tag }}" *ngFor="let menu of menus">
          <div class="row">
            <div class="col-lg-12">
              <iframe src="http://docs.google.com/gview?url={{ menu.url }}&embedded=true" style="width:100%; height:500px;" frameborder="0"></iframe>
            </div>
          </div>
        </div> -->


      </div>
      <!-- /Tab Panes -->

    </div>
    <!-- /Product Tabs -->

  </div>
  <!-- /Container -->

</div>
<!-- /Content Block
          ============================================ -->