<section class="intro-block intro-page boxed-section overlay-dark-m" [ngStyle]="{'background': '#fff url(' + parrallaxUrl + ') no-repeat center 0 fixed'}">
  <!-- Container -->
  <div class="container">
    <!-- Section Title -->
    <div class="section-title invert-colors no-margin-b">
      <h2>
        <span class="parallax-font">Our Menu</span>
      </h2>
    </div>
    <!-- /Section Title -->
  </div>
  <!-- /Container -->

</section>

<!-- Content Block
      ============================================ -->
<div class="content-block">

  <!-- Container -->
  <div class="container no-pad-t">

    <!-- Product Tabs -->
    <div class="product-tabs">

      <!-- Nav tabs -->
      <ul class="nav nav-tabs nav-tabs-line-bottom line-pcolor nav-tabs-center" role="tablist">
        <li routerLinkActive="active">
          <a [routerLink]="['/menu/menu-pdf', 'food']">
            <p class="menu-tab-font">Food Menu</p>
          </a>
        </li>
        <li routerLinkActive="active">
          <a [routerLink]="['/menu/menu-pdf', 'bar']">
            <p class="menu-tab-font">Bar Menu</p>
          </a>
        </li>
      </ul>
      <br>
      <!-- /Nav Tabs -->

      <router-outlet></router-outlet>

    </div>
    <!-- /Product Tabs -->

  </div>
  <!-- /Container -->

</div>
<!-- /Content Block
          ============================================ -->