<section class="intro-block intro-page boxed-section gallery-pic overlay-dark-m">
  <!-- Container -->
  <div class="container">
    <!-- Section Title -->
    <div class="section-title invert-colors no-margin-b">
      <h2>
        <font class="parallax-font" size="20">Gallery</font>
      </h2>

    </div>
    <!-- /Section Title -->
  </div>
  <!-- /Container -->
</section>

<div class="text-center" style="padding-top:20px;">
  <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
</div>