<section class="intro-block intro-page boxed-section news-pic overlay-dark-m">
  <!-- Container -->
  <div class="container">
    <!-- Section Title -->
    <div class="section-title invert-colors no-margin-b">
      <h2>
        <font class="italiancustom" size="20">News</font>
      </h2>
    </div>
    <!-- /Section Title -->
  </div>
  <!-- /Container -->
</section>

<div style="padding:20px">
  <div class="text-center" style="padding:15px;">
    <mat-card class="news-card" style="padding-top:13px;">
      <mat-card-header>
        <mat-card-title class="title">Bread and Breakfast!</mat-card-title>
        <mat-card-title class="date">Sticky</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
            "Looking for a change of scenery and something unique?"<br/>
            For our travellers visiting we offer accommodation at the Heritage BNB in 49th St in Camrose. Walking distance from the Hart House!
            <br/>Check out their web site at <a href="http://www.heritagebnb.com">Heritage BNB</a> to info on the house and what it offers. 
            Make it a weekend and attend a concert at the Baily theatre or Peter Lougheed. 
        </p>
      </mat-card-content>
    </mat-card>
  </div>
  
  
  <div class="text-center" style="padding:15px;">
    <mat-card class="news-card" style="padding-top:13px;">
      <mat-card-header>
        <mat-card-title class="title">Bread and Breakfast!</mat-card-title>
        <mat-card-title class="date">Sticky</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
            "Looking for a change of scenery and something unique?"<br/>
            For our travellers visiting we offer accommodation at the Heritage BNB in 49th St in Camrose. Walking distance from the Hart House!
            <br/>Check out their web site at <a href="http://www.heritagebnb.com">Heritage BNB</a> to info on the house and what it offers. 
            Make it a weekend and attend a concert at the Baily theatre or Peter Lougheed. 
        </p>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="text-center" style="padding:15px;">
    <mat-card class="news-card" style="padding-top:13px;">
      <mat-card-header>
        <mat-card-title class="title">Bread and Breakfast!</mat-card-title>
        <mat-card-title class="date">Sticky</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
            "Looking for a change of scenery and something unique?"<br/>
            For our travellers visiting we offer accommodation at the Heritage BNB in 49th St in Camrose. Walking distance from the Hart House!
            <br/>Check out their web site at <a href="http://www.heritagebnb.com">Heritage BNB</a> to info on the house and what it offers. 
            Make it a weekend and attend a concert at the Baily theatre or Peter Lougheed. 
        </p>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="text-center" style="padding:15px;">
    <mat-card class="news-card" style="padding-top:13px;">
      <mat-card-header>
        <mat-card-title class="title">Bread and Breakfast!</mat-card-title>
        <mat-card-title class="date">Sticky</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
            "Looking for a change of scenery and something unique?"<br/>
            For our travellers visiting we offer accommodation at the Heritage BNB in 49th St in Camrose. Walking distance from the Hart House!
            <br/>Check out their web site at <a href="http://www.heritagebnb.com">Heritage BNB</a> to info on the house and what it offers. 
            Make it a weekend and attend a concert at the Baily theatre or Peter Lougheed. 
        </p>
      </mat-card-content>
    </mat-card>
  </div>
  
  <div class="text-center" style="padding:15px;">
      <button mat-raised-button>More</button>
  </div>

</div>

