.news-card {
    width: 100%;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    text-align: left;
    word-spacing: 2px;
    padding-left: 8px;
}

.title {
    font-family: 'Montaga', serif;
    font-size: 26px;
    text-align: left;
    padding-top: 12px;
}

.date {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    text-align: left;  
    color: #949494 !important;
}

.parallax-font { 
    font-family: 'Tangerine', cursive;
    font-size: 65px;
    word-spacing: 3px;
}

/deep/ .mat-fab.mat-primary, .mat-mini-fab.mat-primary, .mat-raised-button.mat-primary {
    background-color: #a57f44bd;
}

button {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    word-spacing: 3px;  
}

.sticky {
    padding:15px; 
    background-color: #f3f3f3;
}

a {
    color: #a7916d;
}