.news-pic {
    background: url("https://s3.us-east-2.amazonaws.com/harthouse/Kyle+standing.jpg") no-repeat center 0 fixed;
}

.news-card {
    width: 100%;
}

p {
    font-family: "Times New Roman", Times, serif;
    font-size: 18px;
    text-align: left;
}

.title {
    font-family: "Times New Roman", Times, serif;
    font-size: 26px;
    text-align: left;  
}

.date {
    font-family: "Times New Roman", Times, serif;
    font-size: 16px;
    text-align: left;  
}
