<section class="intro-block intro-page boxed-section cwevent-pic overlay-dark-m">

  <!-- Container -->
  <div class="container">
    <!-- Section Title -->
    <div class="section-title invert-colors no-margin-b">
      <h2>
        <font class="italiancustom" size="20">Corporate/ Wedding Events</font>
      </h2>
    </div>
    <!-- /Section Title -->
  </div>
  <!-- /Container -->

</section>

<div class="row" style="padding:30px">
  <div class="col-md-8">
    <h1 class="flam-font-28">This is a title</h1>
    <p>Essentially what Blake is struggling with here is the "columns of equal height" problem. You can either have elements
      that are relative to their content or you can set a static height. Either way is not ideal, especially when all Blake
      wants to do is "fill the screen" The solution is "faux columns". Plainly put, columns that look like columns just because
      of a background image. Then just leave your sidebar with a transparent background and let it grow however it needs
      to.
    </p>
  </div>
  <div class="col-md-4">
    <div class="js-video [vimeo, widescreen]">
      <iframe width="640" height="360" src="//www.youtube.com/embed/lpEBAagmw3o" frameborder="0" allowfullscreen></iframe>
    </div>

  </div>

</div>