<section class="intro-block intro-page boxed-section overlay-dark-m" [ngStyle]="{'background': '#fff url(' + parrallaxUrl + ') no-repeat center 0 fixed'}">

  <!-- Container -->
  <div class="container">
    <!-- Section Title -->
    <div class="section-title invert-colors no-margin-b">
      <h2>
        <span class="parallax-font ">Corporate/ Wedding Events</span>
      </h2>
    </div>
    <!-- /Section Title -->
  </div>
  <!-- /Container -->

</section>

<div class="row" style="padding:30px">
  <div [innerHTML]="cwEventContent" class="col-md-12 cwevent-content"></div>

  <!-- <div class="col-md-4">
    <div class="js-video [vimeo, widescreen]">
      <iframe width="640" height="360" src="//www.youtube.com/embed/lpEBAagmw3o" frameborder="0" allowfullscreen></iframe>
    </div>
  </div> -->

</div>