<section class="intro-block intro-page boxed-section reserve-pic overlay-dark-m">

  <!-- Container -->
  <div class="container">
    <!-- Section Title -->
    <div class="section-title invert-colors no-margin-b">
      <h2>
        <font class="italiancustom" size="20">Make a Reservation</font>
      </h2>
    </div>
    <!-- /Section Title -->
  </div>
  <!-- /Container -->
</section>

<section class="content-block default-bg" style="padding:15px;">
  <!-- Container -->
  <div class="container cont-pad-t-sm">

    <!-- Row -->
    <div class="row">

      <!-- Main Col -->
      <div class="main-col">
        <form class="reserve " name="contact">

          <div class="row">
            <div class="form-group col-md-6">
              <label for="fullname" class="control-label">Your Name:</label>
              <input type="text" class="form-control" id="fullname" name="fullname" placeholder="John Doe">
            </div>

            <div class="form-group col-md-6">
              <label for="phonenumber" class="control-label">Phone Number:</label>
              <input type="text" class="form-control" id="phonenumber" name="phonenumber">
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-6">
              <label for="email" class="control-label">Email:</label>
              <input type="text" class="form-control" id="email" name="email" placeholder="john.doe@example.com">
            </div>

            <div class="form-group col-md-6">
              <label for="peoplenum" class="control-label">Number of People:</label>
              <select class="form-control" id="peoplenum" name="peoplenum">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5+</option>
              </select>
            </div>
          </div>

          <div class="row">
            <div class="form-group col-md-6">
                <label for="date-format" class="control-label">Date & Time:</label>
                <input type="text" id="date-format" class="form-control" placeholder="Click Me" style="cursor:pointer;">
            </div>

            <div class="form-group col-md-6">
            </div>
          </div>

          <div class="form-group">
            <label for="message-text" class="control-label">Special Requests:</label>
            <textarea class="form-control" id="message-text" name="message" rows="8" placeholder="Please tell us your requests here..."></textarea>
          </div>

        </form>
        <div class="text-right">
            <button mat-raised-button color="primary">Reserve</button>
        </div>
        <!-- /Main Col -->
      </div>
      <!-- /Row -->
    </div>
    <br/>
  </div>
  <!-- /Container -->
</section>
<br/>