/deep/ .mat-fab.mat-primary, .mat-mini-fab.mat-primary, .mat-raised-button.mat-primary {
    background-color: #a57e44;
}

/deep/ .dtp>.dtp-content>.dtp-date-view>header.dtp-header {
    background: #88622a;
    color: #fff;
    text-align: center;
    padding: .3em;
}

/deep/ .dtp div.dtp-date, .dtp div.dtp-time {
    background: #6b4b1a;
    text-align: center;
    color: #fff;
    padding: 10px;
}

/deep/ .dtp .p10>a {
    color: #ffffff;
    text-decoration: none;
}

/deep/ .dtp div.dtp-actual-year {
    font-size: 1.5em;
    color: #ffffff;
}

/deep/ .dtp table.dtp-picker-days tr>td>a.selected {
    background: #af8b4e;
    color: #fff;
}

/deep/ .circle {
    stroke-width: 59;
    stroke-linecap: round;
    background: #af8b4e;
}

/deep/ .dtp .dtp-actual-meridien a.selected {
    background: #af8b4e;
    color: #fff;
}
.parallax-font { 
    font-family: 'Tangerine', cursive;
    font-size: 65px;
    word-spacing: 3px;
}

 p, input, span, ul, h5, textarea, select{
   font-family: 'Text Me One', sans-serif;
 }

 label, button {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    word-spacing: 1px;  
}

.harthouse-snackbar {
    background-color: #947138;
    color: #ffffff;
}