<section class="intro-block intro-page boxed-section overlay-dark-m" [ngStyle]="{'background': '#fff url(' + parrallaxUrl + ') no-repeat center 0 fixed'}">

  <!-- Container -->
  <div class="container">
    <!-- Section Title -->
    <div class="section-title invert-colors no-margin-b">
      <h2>
        <span class="parallax-font">Make a Reservation</span>
      </h2>
    </div>
    <!-- /Section Title -->
  </div>
  <!-- /Container -->
</section>

<section class="content-block default-bg" style="padding:15px;">
  <!-- Container -->
  <div class="container cont-pad-t-sm">

    <!-- Row -->
    <div class="row">

      <!-- Main Col -->
      <div class="main-col">
        <form [formGroup]="reservationForm">
          <div class="row">
            <div class="form-group col-md-6">
              <label for="fullname" class="control-label">Your Name: <a style="color: #db5959;" *ngIf="reservationForm.get('fullName').invalid && reservationForm.get('fullName').touched">Please enter your name</a></label>
              <input type="text" class="form-control" placeholder="your name..." formControlName="fullName">
            </div>

            <div class="form-group col-md-6">
              <label for="phonenumber" class="control-label">Phone Number: <a style="color: #db5959;" *ngIf="!reservationForm.get('phoneNumber').valid && reservationForm.get('phoneNumber').touched">Please enter a phone number</a></label>
              <input type="text" class="form-control" id="phonenumber" placeholder="your number..." name="phonenumber" formControlName="phoneNumber">
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-6">
              <label for="email" class="control-label">Email: <a style="color: #db5959;" *ngIf="!reservationForm.get('email').valid && reservationForm.get('email').touched">Valid email required</a></label>
              <input type="email" class="form-control" id="email" name="email" placeholder="your email..." formControlName="email">
            </div>

            <div class="form-group col-md-6">
              <label for="peoplenum" class="control-label">Number of People:</label>
              <select class="form-control" id="peoplenum" name="peoplenum" formControlName="peopleNumber">
                <option value="1" selected>1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5+">5+</option>
              </select>
            </div>
          </div>

          <div class="row">
            <div class="form-group col-md-6">
                <label for="date-format" class="control-label">Date & Time:</label>
                <input type="text" id="date-format" class="form-control" placeholder="Click Me" style="cursor:pointer;" formControlName="dateTime">
            </div>

            <div class="form-group col-md-6">
            </div>
          </div>

          <div class="form-group">
            <label for="message-text" class="control-label">Special Requests:</label>
            <textarea class="form-control" rows="8" placeholder="Please tell us your requests here..." formControlName="message"></textarea>
          </div>

        </form>
        <div class="text-right">
            <button mat-raised-button color="primary" [disabled]="!reservationForm.valid || buttonLoading" (click)="reserveButton()" style="position: relative;">
                <ngx-loading [show]="buttonLoading" [config]="{ backdropBorderRadius: '1px' }"></ngx-loading>
                <span *ngIf="buttonLoading">.</span>
                <span *ngIf="!buttonLoading">Reserve</span>
            </button>
        </div>
        <!-- /Main Col -->
      </div>
      <!-- /Row -->
    </div>
    <br/>
  </div>
  <!-- /Container -->
</section>
<br/>