<!-- Intro Block
      ============================================-->
<section class="intro-block intro-page boxed-section overlay-dark-m" [ngStyle]="{'background': '#fff url(' + parrallaxUrl + ') no-repeat center 0 fixed'}">

  <!-- Container -->
  <div class="container">
    <!-- Section Title -->
    <div class="section-title invert-colors no-margin-b">
      <h2>
        <span class="parallax-font">Gift Voucher</span>
      </h2>
    </div>
    <!-- /Section Title -->
  </div>
  <!-- /Container -->

</section>
<!-- /Intro Block
          ============================================-->

<!-- Content Block
          ============================================-->
<section class="content-block default-bg">
  <!-- Container -->
  <div class="container cont-pad-t-sm">
    <div class="box pull-left" style="margin-bottom:25px; position: relative;">
      <ngx-loading [show]="buttonLoading" [config]="{ backdropBorderRadius: '1px' }"></ngx-loading>
      <div class="ribbon ribbon-font">
        <span>Voucher</span>
      </div>
      <div class="panel-body text-center">
        <div class="row">
          <div class="main-col">
            <h1>Hart House Wine and Tapa</h1>
            <!-- Initial submission form -->
            <div style="padding:0% 10% 0% 10%" *ngIf="!paymentSuccess">
              <form [formGroup]="paypalForm">
                <div class="form-group">
                  <label for="fullname1" class="control-label">Recipient Name:</label>
                  <input type="text" class="form-control" id="fullname1" placeholder="Recipient Name" formControlName="fullName" autocomplete="off">
                </div>
                <div class="form-group">
                  <label for="youremail" class="control-label">Recipient Email Address:</label>
                  <input type="email" class="form-control" placeholder="Recipient Email" formControlName="email">
                </div>
                <div class="form-group">
                  <label for="amount" class="control-label">Amount (CAD):</label>
                  <select class="form-control" formControlName="amount">
                    <option disabled selected>Please select Amount</option>
                    <option value="{{ price.amount }}" *ngFor="let price of voucherPrice">{{ price.description }}</option>
                  </select>
                </div>
                <div style="position: relative;">
                  <div id="paypal-button" *ngIf="isValidForm"></div>
                </div>
              </form>
            </div>

            <div style="padding:0% 10% 0% 10%" *ngIf="paymentSuccess">
              <div class="gift-voucher-content">
                <h3>Thank you for purchasing our Gift Voucher!</h3>
                <p>
                  The receipt has been sent to your email from PayPal,
                  <strong>
                    <i>
                      {{ senderEmail }}.
                    </i>
                  </strong>
                </p>

                <p>
                  The electronic gift voucher of the amount
                  <strong>${{ authAmount }}</strong> CAD has been sent to
                  <strong>
                    <i>
                      {{ giftedUserFullName }} ({{ giftedUserEmail }}).
                    </i>
                  </strong>
                </p>
                <img [src]="giftCodeUrl" alt="">
                <p>{{ giftCode }}</p>
              </div>
            </div>
          </div>

          <!-- /Container -->

        </div>
      </div>
    </div>
    <p></p>
    <div class="text-center">
      <p>
        <br>Already Have a Gift Voucher? You can check your balance here!</p>
      <button mat-raised-button color="primary" (click)="checkBalanceModal()">Check Balance</button>
    </div>

  </div>
</section>
<br/>
<!-- /Content Block
        ============================================-->