/deep/ .mat-fab.mat-primary, .mat-mini-fab.mat-primary, .mat-raised-button.mat-primary {
    background-color: #a57f44bd;
}

p, label, input, span, ul, h5, textarea, select{
    font-family: 'Text Me One', sans-serif;
      font-size:13pt;
  }