<section class="content-block default-bg" style="padding:20px">

    <!-- Row -->
    <div class="row">

      <!-- Main Col -->
      <div class="main-col">

        <!-- Post -->
        <article class="blog-entry text-center">

          <iframe src="https://calendar.google.com/calendar/embed?src=88vbltu5unsnkkfkkni5348fqs%40group.calendar.google.com&ctz=America/Edmonton"
            style="border: 0" width="100%" height="750" frameborder="0" scrolling="no">
          </iframe>

        </article>
        <!-- Post /END -->


        <!-- /Main Col -->

      </div>
      <!-- /Row -->

    </div>
    <!-- /Container -->

</section>