<!-- Intro Block
        ============================================ -->
<div class="intro-block row" style="padding-top: 20px;">
    <!-- Container -->
    <div class="container" style="position:relative">
        <ngx-loading [show]="bannerLoading" [config]="{ backdropBorderRadius: '2px' }"></ngx-loading>
        <div class="slider">
            <div *ngFor="let bannerImage of bannerImages">
                <img src="{{ bannerImage.url }}" alt="">
            </div>
        </div>
    </div>
    <!-- /Container -->

</div>
<!-- /Intro Block============================================ -->

<hr class="style-seven">
<div class="row" style="padding:0% 5% 0% 5%">
    <div class="col-md-8">
        <div class="js-video [vimeo, widescreen]" [innerHTML]="iframe_html"></div>
    </div>
    <div class="col-md-4">
        <h1>{{ title }}</h1>
        <p>{{ contentText }}</p>
    </div>

</div>